<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="apiEntry" value=""/>
    <add key="refreshTime" value="750"/>
    <add key="secureMode" value="no"/>
    <add key="apiToken" value=""/>
    <add key="device_id" value=""/>
    <add key="verbose" value="no"/>
  </appSettings>
</configuration>